---
layout: table_wrappers
---

<!DOCTYPE html>

<script>
  window.MathJax = {
    loader: {
      load: ['[tex]/physics', '[tex]/mathtools']
    },
    tex: { 
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      packages: {'[+]': ['physics','mathtools']},

      macros: {
        Real: "{\\mathbb{R}}",
        E: "{\\mathbb{E}}",
        Var: "{\\mathbf{Var}}",
        binset: "\\{0,1\\}",
        set: ["\\{#1\\}", 1],
        abs: ["\\left\\lvert #1 \\right\\rvert", 1],
        condition: "\\;|\\;",
        tand: "\\text{ and }",
        tor: "\\text{ or }",
        dtv: "d_{\\mathrm{TV}}",
        defeq: "\\overset{\\mathrm{def}}{=}",
        Nat: "{\\mathbb{N}}",
        Int: "\\mathbb{Z}",
        vG : "\\vec{G}",
        tmix: "t_{\\mathrm{mix}}",
        allone: "\\mathbf{1}",
        inprod: ["\\left\\langle #1 \\right\\rangle", 1],
        floor: ["\\left\\lfloor #1 \\right\\rfloor", 1],
        ceil: ["\\left\\lceil #1 \\right\\rceil", 1],
        indicator: ["\\mathbf{1}_{#1}", 1],
        dist: "\\mathrm{dist}",
        diam: "\\mathrm{diam}",
        SRW: "\\mathrm{SRW}",
        Pup: "{P^{\\uparrow}}",
        Pdown: "{P^{\\downarrow}}",
        PUD: "{P^{\\triangle}}",
        PDU: "{P^{\\bigtriangledown}}",
        LSRW: "\\mathrm{LSRW}",
        Comp: "\\mathbb{C}",
        piprod: ["\\left\\langle #1 \\right\\rangle_{\\pi}", 1],
        pinorm: ["\\left\\lvert #1 \\right\\rvert_{\\pi}", 1],
        piorth: "\\bot_{\\pi}",
        pispace: "\\ell^2_{\\pi}(V)",
        Epi: "\\mathbf{E}_{\\pi}",
        Varpi: "\\mathbf{Var}_{\\pi}",
        pimin: "\\pi_{\\min}",
        Cay: "\\mathrm{Cay}",
        calG: "\\mathcal{G}",
        Code: "\\mathcal{C}",
        Ftwo: "\\mathbb{F}_2",
        Fq: "\\mathbb{F}_q",
        e: "\\mathrm{e}",
        F: "\\mathcal{F}",
        tif: "\\text{if }",
        totherwise: "\\text{otherwise}",
        iprod: ["\\left\\langle #2 \\right\\rangle_{#1}", 2],
        ispace: ["\\ell^2\\left( X(#1) \\right)", 1],
        ispaceface: ["\\ell^2\\left( X(#1)_{#2} \\right)", 2],
        inorm: ["\\norm{ #2 }_{X(#1)}", 2],
        nonlazyPUD: "{P^{\\land}}",
      }

    } 
  };
  
  </script>
  <script type="text/javascript" id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>

<html lang="{{ site.lang | default: 'ja' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% if page.nav_enabled == true %}
    {% include components/sidebar.html %}
  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% endif %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
      {% include components/breadcrumbs.html %}
      <div id="main-content" class="main-content">
        <main>
          {% if site.heading_anchors != false %}
            {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
          {% else %}
            {{ content }}
          {% endif %}

          {% if page.has_toc != false %}
            {% include components/children_nav.html %}
          {% endif %}
        </main>
        {% include components/footer.html %}
      </div>
    </div>
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>
